@font-face {
   font-family: "Freehand521 BT";
   src: url("fonts/Freehand521 BT.woff") format("woff"), url("fonts/Freehand521 BT.eot") format("embedded-opentype"), url("fonts/Freehand521 BT.ttf") format("truetype"), url("fonts/Freehand521 BT.svg") format("svg");
   font-weight: normal;
   font-style: normal;
}